html,body{
	margin: 0;
	padding: 0;
	background-color: #9EBBA9;
	width: 90%;
	margin: auto;
	text-align: center;
}

h1{
	color: #3B3B3B;
}

main{
	padding-right: 20px;
	padding-top: 10px;
	background-color: #fff; 
	border-radius: 0.3em;
	padding-bottom: 32%;
}

form{
	display: grid;
	margin-left: 50px;
	margin-right: 50px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(9, auto);
	grid-row-gap: 3%;
	grid-column-gap: 4%;
}

#improve{
	padding-bottom: 1.5%;
}
.sup{
	font-size: xx-small;

}

input[type="text"]{
	height: 105%;
	position: relative;
	top: -4px;
}

label{
	font-size: 17px;
	text-align: right;
}

p{
	font-size: 17px;
}
.radio-data{
	margin-bottom: 8px;
	float: left;
	width: 80%;
	text-align: left;
	font-size: 17px;
}
#radios>label{
	font-size: 16.5px;
	float: left;
}
#role{
	height: 80%;
}

input[type="radio"]{
	margin-bottom: 5px;	
	float: left;	
}


#fcc{
	height: 110%;
}

input[type="checkbox"]{
	float: left;
}

.inner-improvement-div{
	margin-bottom: 10px;
	float: left;
	width: 80%;
	text-align: left;
	font-size: 18px;
}

textarea{
	height: 130%;
}

#submitbutton{
	background-color: #73887B;
	color: #3B3B3B;
	width: 70%;
	height: 50px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 0.4em;
	position: relative;
	left: 35%;
	margin: 10%;
}